/* INIZIO RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* FINE RESET */

/* INIZIO REGOLE GENERALI */
body {
  font-family: 'Roboto', sans-serif;
}
.container {
  width: 1280px;
  margin: auto;
  height: 100%;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
/* FINE REGOLE GENERALI */

/* INIZIO HEADER */
header {
  background: #001a4f;
  height: 600px;
  background-image: url("../img/background-header.png");
  background-size: 1000px;
  background-repeat: no-repeat;
  background-position: 112% 108%;
}

/* Inizio navigazione */
header nav {
  padding-top: 10px;
}
header nav .col {
  float: left;
}

header nav .logo {
  width: 15%;
}

header nav .menu-center {
  width: 45%;
}

header nav .menu-right {
  width: 40%;
}

/* istruzioni relative ai link del menu */
header nav .menu li  {
  list-style-type: none;
  display: inline-block;
  margin: 15px 8px;
}

header nav .menu li a:hover  {
  color: orange;
}

header nav .menu li a {
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  font-size: 14px;
  font-weight: bold;
}

/* menu parte destra*/
header nav .menu-right {
  text-align: right;
}

header nav .menu-right .login {
  border: 1px solid white;
  border-radius: 2px;
  padding: 5px 20px;
}

header nav .menu-right .green {
  border-radius: 2px;
  padding: 7px 5px;
  background: #7bbc00;
}
/* Fine navigazione*/

/* Inizio teaser*/
.teaser {
  color: white;
  width: 30%;
  font-size: 20px;
  position: absolute;
  transform: translate(235px,235px);
  line-height: 1.5;

}

.teaser .cta {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  background:  #7bbc00;
  border-radius: 2px;
  padding: 10px;
  font-weight: bold;
  display: inline-block;
  margin-top: 30px;
}
/* Fine teaser*/

/* Inizio riga grigia */
header .grey-row {
  background: #DCDCDC;
  text-align: center;
  padding: 25px 0px;
}

header .grey-row p {
  color: grey;
  font-weight: bold;
  margin-top: 20px;
  font-size: 18px;
}
/* Fine riga grigia */
/* FINE HEADER */
