/* INIZIO RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* FINE RESET */

/* INIZIO REGOLE GENERALI */
body {
  font-family: 'Roboto', sans-serif;
}

/* contenitore per dare la larghezza dei contenuti di tutta la pagina*/
.container {
  width: 1280px;
  margin: auto;
  height: 100%;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
/* FINE REGOLE GENERALI */

/* INIZIO HEADER */
header .navigation-teaser {
  background: #001a4f;
  height: 600px;
  background-image: url("../img/background-header.png");
  background-size: 1000px;
  background-repeat: no-repeat;
  background-position: 112% 108%;
}

/* Inizio navigazione */
header nav {
  padding-top: 10px;
}
header nav .col {
  float: left;
}

header nav .logo {
  width: 15%;
}

header nav .menu-center {
  width: 45%;
}

header nav .menu-right {
  width: 40%;
}

/* istruzioni relative ai link del menu */
header nav .menu li  {
  list-style-type: none;
  display: inline-block;
  margin: 15px 8px;
}

header nav .menu li a:hover  {
  color: orange;
}

header nav .menu li a {
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  font-size: 14px;
  font-weight: bold;
}

/* menu parte destra*/
header nav .menu-right {
  text-align: right;
}

header nav .menu-right .login {
  border: 1px solid white;
  border-radius: 2px;
  padding: 5px 20px;
}

header nav .menu-right .green {
  border-radius: 2px;
  padding: 7px 5px;
  background: #7bbc00;
}
/* Fine navigazione*/

/* Inizio teaser*/
.teaser {
  color: white;
  width: 30%;
  font-size: 20px;
  position: absolute;
  transform: translate(235px,235px);
  line-height: 1.5;

}

.teaser .cta {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  background:  #7bbc00;
  border-radius: 2px;
  padding: 10px;
  font-weight: bold;
  display: inline-block;
  margin-top: 30px;
}
/* Fine teaser*/

/* Inizio riga grigia */
header .grey-row {
  background: #DCDCDC;
  text-align: center;
  padding: 25px 0px;
  height: 120px;
}

header .grey-row p {
  color: grey;
  font-weight: bold;
  margin-top: 20px;
  font-size: 18px;
}
/* Fine riga grigia */
/* FINE HEADER */

/* INIZIO MAIN */
/* Inizio sezione caratteristiche del corso a tre colonne */
main .features .col {
  float: left;
  width: 30%;
  text-align: center;
  padding: 25px;
}
main .features .col img {
  width: 60%;
  height: 200px;
}

main .features .col h2 {
  color: #7bbc00;
}

main .features .col hr {
  width: 30%;
  color: grey;
  margin: 10px auto;
}

main .features .col p {
  color: grey;
}

main .features .col-center {
  margin: 0px 5%;
}
/* Fine sezione caratteristiche del corso a tre colonne */

/* Inizio sezione livello a due colonne */
main .level .col {
  float: left;
  width: 50%;
  padding: 25px 50px;
}

main .level .col-level {
  width: 30%;
  text-align: left;
}

main .level .col-level p {
  color: grey;
  margin: 25px 0px;
}

main .level .col-level a {
  color: #008B8B;
}
/* Fine sezione livello a due colonne */
/* FINE MAIN */

/* INIZIO FOOTER */
footer {
  background: #DCDCDC;
  height: 120px;
}

footer .col {
  float: left;
  width: 50%;
  line-height: 120px;
}

footer .col-form {
  color: grey;
  text-align: center;
}

footer .col-form .seleziona {
  text-decoration: underline;
  margin: 0px 50px;
}

footer .col-form a {
  text-decoration: none;
  color: white;
  border-radius: 2px;
  padding: 12px 5px;
  background: #7bbc00;
}
/* FINE FOOTER */
